Flask==0.11.1
html5lib==0.999
Jinja2==2.8
pyasn1==0.1.9
Pygments==2.2.0
pygobject==3.20.0
pymongo==3.3.1
pyOpenSSL==0.15.1
pytz==2017.2
requests==2.12.3
requests-oauthlib==0.7.0
Sphinx==1.6.4
sphinxcontrib-websupport==1.0.1
sqlparse==0.1.18
tweepy==3.5.0
virtualenv==15.1.0
